<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css">
    <title>Postagens Node.js</title>
</head>
<body>
    {{{body}}}
</body>
<footer>
    <h1 class="brand"> Site de Noticias    </h1>
    <h3 class="infoFooter" >
        Contato: joaoppessoa@uol.com.br <br>
        Endereço: Ab'dendriel Street
    </h3>
    <hr>
</footer>

</html>