<h1>Noticias: </h1>

{{#each posts}}
<div  class="container">
    <h2>{{titulo}}</h2>
    <p>{{conteudo}}</p>
   <a href="/deletar/{{id}}"> <button class="buttonDeletar">Deletar</button> </a>
    <hr>
</div>
    {{/each}}