<header>
    <h1 class="header">Noticias: </h1>
</header>

{{#each posts}}

<div  class="container_noticia">

    <h2 class="titulo" >{{titulo}}</h2>
    <hr>
    <p class="conteudo" >{{conteudo}}</p>
   <a class="hrefbtnDeletar" href="/deletar/{{id}}"> <button class="buttonDeletar">Deletar</button> </a>
</div>
    {{/each}}
